/* Main CSS file
 *
 * used for the majority of the web pages on
 * 2steps2hell's website
 *
 */

head
{
    background-color : #000;
}

body
{
    background-color : #000;
    font-family : "Courier New";
}

/* nav menu links */
.currentPageLink    /* use this simple class ti colorize current link corrispionding to page */
{
    color : #00FF00;
    text-decoration : none;
}

a:link     /* unvisited link */
{
    color : #FFFFFF;    /* white */
    text-decoration : none;
    font-family : Courier New;
}

a:visited   /* visited link */
{
    text-decoration : none;
    font-family : Courier New;
}

a:hover    /* link on hover */
{
    color : #FF0000;    /* red */
    font-size : 20px;
    font-weight : bold;
    font-family : Courier New;
}


/* list items */
ul,ol
{
    color : #FFFFFF;    /* white */
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    font-size : 15px;
    font-family : Courier New;
    width : 50%;
}

li
{
    color : #FFFFFF;
}


/* content( text and descriptive stuff ) */
h3  /* titles */
{
    color : #FFFFFF;
    font-family : Courier New;
}

p   /* paragraphs */
{
    color : #FFFFFF;    /* white */
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    width : 70%;
    font-size : 15px;
    font-family : Courier New;
}

