@charset "utf-8";
/* CSS Document */

html,body{
	background-color:#000;
	font-size:10px;
}

#header {
	
	background-image:url(img/headerSmall.png);
	background-repeat:no-repeat;
	background-position:left;
	
	width:100%;
	height:7em;
	
	
}

#logo1{
	display: block;
	background-image:url(img/Urban-Terror-3-Small.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	color:#F00;
	font-family:"Comic Sans MS", cursive;
	font-size:12px;
	
	width:100%;
	height:5em;
	float:left;
}

#scrittatitolo{
	display:none;
}

#logo2{
	background-image:url(img/Pistola%20destraSmall.png);
	background-repeat:no-repeat;
	background-position:right;
	width:100%;
	height:7em;
	display: block;
}


	
h1,h2,h3,h4,h5{
	font:Arial, Helvetica, sans-serif;
	font-style:normal;
}
	




#posizione{
	color:#FFF;
	text-align:left;
	
}

#linkDaltonici{
	display:none;
}


#nav{
	background-color:#F00;
	
	width:100%;
}

.button{
	float:left;
	height:3em;
	width:44px;
	display:block;
	text-align:center;
	background-image:url(img/btn_2Small22.png);
	background-repeat:no-repeat;
	background-position:center;
}

#nav span a{
	height:3em;
	width:44px;
	display:block;
	text-align:center;
	background-image:url(img/btn_2Small3.png);
	background-position:center;
}

#nav span a:first-letter{
	color:#000;
	font-weight:bold;
}

#nav span a:hover{
	background-image:url(img/btn_2Small.png);
	background-repeat:no-repeat;
	background-position:center;
}




	

#content{
	clear:both;
	width:100%;
	color:#FFF;
}

#ContentNav{
	text-align:center;
	background-color:#FFF;
	color:#009;
}



#piepagina{
	padding:0.2em;
	text-align:left;
	color:#FFF;	
	clear:both;
}


