@charset "utf-8";
/* CSS Document */


html,body{
	font-family: "Times New Roman", Times, serif;
	background-color:#FFF;
	
}

#header{
	padding:2em;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	
}

#logo1{
	
	width:80%;
	text-align:inherit;
	font-size:inherit;
	font-weight:bold;
	
}

#scrittatitolo{
	color:#F00;
	text-align:center;
	font-weight:bold;
}

#titoloimg{
	display:none;
}
	

#logo2{
	display:none;
}

h1,h2,h3,h4,h5{
	font:Arial, Helvetica, sans-serif;
	font-style:normal;
}
	




#posizione{
	display:none;
}

#nav{
	display:none;
	
}


.key{
	display:inline;
	font-weight:bold;
	text-decoration:underline;
}

#linkDaltonici{
	display:none;
	
}

#content{
	
	clear:right;
	float:right;
	width:100%;
	background-color:#FFF;
}

#ContentNav{
	text-align:center;
	color:#009;
}



#piepagina{
	padding:0.2em;
	text-align:left;	
	clear:both;
}