@charset "utf-8";
/* CSS Document */

html,body{
	background-color:#000;
}

#header {
	
	background-image:url(img/header.png);
	background-repeat:no-repeat;
	background-position:left;
	
	width:100%;
	height:13em;
	
	
		
}

#logo1{
	display: block;
	background-image:url(img/Urban-Terror-3-256x256.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	color:#F00;
	font-family:"Comic Sans MS", cursive;
	font-size:24px;
	
	width:100%;
	height:8.5em;
	float:left;
}

#logo2{
	display: block;
	background-image:url(img/Pistola%20destra.png);
	background-repeat:no-repeat;
	background-position:right;
	width:100%;
	height:13em;
	
}


	
h1,h2,h3,h4,h5{
	font:Arial, Helvetica, sans-serif;
	font-style:normal;
}
	




#posizione{
	background-image:url(img/DrippingBlood2.png);
	height:3em;
	text-indent:1em;
	font-weight:bold;
	
}

#nav{
	float:left;
	
	width:10em;
}

#nav span{
	height:3em;
	width:100%;
	display:block;
	text-indent:10px;
	background-image:url(img/btn_3.png);
	background-repeat:no-repeat;
	background-position:center;
}


#nav span a{
	height:3em;
	width:100%;
	display:block;
	background-image:url(img/btn_1.png);
	background-repeat:no-repeat;
	background-position:center;
}

#nav span a:first-letter{
	color:#000;
	font-weight:bold;
}

#nav span a:hover{
	background-image:url(img/btn_2-3.png);
	background-repeat:no-repeat;
	background-position:center;
}

#linkDaltonici{
	float:right;
	width:65%;
	text-align:right;
	padding-right:1em;
}

#linkDaltonici a{
	color:#B1DDFE;	
	
}



#content{
	padding:1em;
	width:80%;
	color:#FFF;
	float:left;
	
	
}


#content div{
	clear:both;
	padding:3px;
	
}


#piepagina{
	padding:0.2em;
	
	
	clear:both;
}
